@page "/projects/{ProjectShorthand}/create-ticket"
@model Vulpes.Zinc.Web.Pages.CreateItemModel
@{
}
<h1>Create Work Item</h1>

<form method="post">
    <div class="form-group mb-3">
        <label for="@nameof(Model.ItemName)">Item Name</label>
        <input type="text" class="form-control" name="@nameof(Model.ItemName)" value="@Model.ItemName" required />
    </div>

    <div class="form-group mb-3">
        <label for="@nameof(Model.ItemDescription)">Item Description</label>
        <input type="text" class="form-control" name="@nameof(Model.ItemDescription)" value="@Model.ItemDescription" required />
        <p class="text-muted small">Briefly describe the issue to be solved or feature to be added.</p>
    </div>

    <div class="btn-group">
        <input type="submit" class="btn btn-primary" value="Create Ticket" />
    </div>
</form>