@page
@using Vulpes.Zinc.Domain.Models
@using Vulpes.Zinc.Web.Pages
@using Vulpes.Zinc.Web.Routing
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <h1 class="display-4">Welcome</h1>
    @if (string.IsNullOrEmpty(Model.LoggedUsername))
    {
        <p>No user signed in.</p>
        <a href="@ZincRoute.Register()">Register</a>
        <a href="@ZincRoute.LogIn()">Log In</a>
    }
    else
    {
        <p>Welcome to Zinc, @Model.LoggedUsername!</p>
        <ul>
            <li>
                <a href="@ZincRoute.LogOut()">Log Out</a>
            </li>
            <li>
                <a href="@ZincRoute.CreateProject()">Create a new project</a>
            </li>
            <li>
                <a href="@ZincRoute.Projects()">View projects</a>
            </li>
        </ul>
    }
</div>
