@page "/projects/{ProjectShorthand}"
@using Vulpes.Zinc.Domain.Models
@using Vulpes.Zinc.Web.Routing
@model Vulpes.Zinc.Web.Pages.ProjectModel
@{
}
<h1>@Model.Project.Name (@Model.Project.Shorthand)</h1>
<p>@Model.Project.Description</p>

<form method="post">
    <div class="row">
        <h3>Labels</h3>
        <div class="row">
            <div class="col form-group">
                <input type="text" class="form-control" value="@Model.UpdatedLabels" name="@nameof(Model.UpdatedLabels)" />
                <p class="text-muted small">Labels are comma delimmited.</p>
            </div>
            <div class="col-auto">
                <input type="submit" class="btn btn-primary" value="Update Labels" />
            </div>
        </div>
    </div>

    <input type="hidden" name="@nameof(Model.ProjectShorthand)" value="@Model.ProjectShorthand" />
</form>

<div class="row">
    <div class="col">
        <h1>Tickets</h1>
    </div>
    <div class="col-auto">
        <a class="btn-group btn btn-primary" href="@ZincRoute.CreateTicket(Model.Project.Shorthand)">Create Ticket</a>
    </div>
</div>

@if (Model.TicketsByStatus.Any())
{
    @foreach (var (status, tickets) in Model.TicketsByStatus)
    {
        <div class="row border border-primary rounded mb-2">
            <h2>@status</h2>
            @foreach (var ticket in tickets)
            {
                @await Component.InvokeAsync("TicketOverview", new { ticket = ticket })
            }
        </div>
    }
}
else
{
    <p>No tickets under this project.</p>
}