@page "/projects/{ProjectShorthand}"
@model Vulpes.Zinc.Web.Pages.ProjectModel
@{
}
<h1>Project</h1>

<p>Viewing:</p>
<p>@Model.Project.Name (@Model.Project.Shorthand)</p>

<h1>Tickets</h1>
@if (Model.Tickets.Any())
{
    <ul>
        @foreach (var ticket in Model.Tickets)
        {
            <li>
                <p>@ticket.Title - @ticket.Status</p>
                <p class="text-muted small">@ticket.Description</p>
            </li>
        }
    </ul>
}
else
{
    <p>No tickets under this project.</p>
}

<a href="/projects/@Model.Project.Shorthand/create-ticket">Create Ticket</a>