@page "/projects/{ProjectShorthand}"
@using Vulpes.Zinc.Domain.Models
@using Vulpes.Zinc.Web.Routing
@model Vulpes.Zinc.Web.Pages.ProjectModel
@{
}
<h1>@Model.Project.Name (@Model.Project.Shorthand)</h1>
<p>@Model.Project.Description</p>

<div class="row">
    <div class="col">
        <h1>Tickets</h1>
    </div>
    <div class="col">
        <a class="btn-group btn btn-primary" href="@ZincRoute.CreateTicket(Model.Project.Shorthand)">Create Ticket</a>
    </div>
</div>
@if (Model.TicketsByStatus.Any())
{
    @foreach (var (status, tickets) in Model.TicketsByStatus)
    {
        <div class="row border border-primary rounded mb-2">
            <h2>@status</h2>
            @foreach (var ticket in tickets)
            {
                @await Component.InvokeAsync("TicketOverview", new { ticket = ticket })
            }
        </div>
    }
}
else
{
    <p>No tickets under this project.</p>
}